<header class="header">
  <!-- Верхняя часть с логотипом, городом, строкой поиска и контактами (мыло и номер телефона) -->
  <div class="header-top">
    <div class="header-top__left">
      <!-- Блок логотип -->
      <div class="header-logo">
        <a class="header-logo__link" href="#">
          <img
            src="./images/header/Mobile/logo-header-mobile.svg"
            width="180"
            height="30"
            alt="Мобильная версия логотипа компании Планета Эко Бум"
            class="header-logo__image-mobile"
          />
          <img
            src="./images/header/Desktop/logo-header-desktop.svg"
            width="360"
            height="64"
            alt="Мобильная версия логотипа компании Планета Эко Бум"
            class="header-logo__image-desktop"
          />
        </a>
      </div>
      <!-- /Блок логотип -->

      <!-- Блок выбора города -->
      <div class="city-select">
        <a class="city-select__click" href="#">
          <img
            src="./images/header/gps-point-city-header.svg"
            width="20"
            height="20"
            alt="Иконка выбора города клиента"
            class="city-select__icon"
          />
          <span class="city-select__name">Москва</span>
        </a>
      </div>
      <!-- /Блок выбора города -->
    </div>

    <div class="header-top__right">
      <!-- Блок строки поиска -->
      <div class="searh-form">
        <input
          type="text"
          class="searh-form__input-text"
          placeholder="Поиск по сайту"
        />
      </div>
      <!-- /Блок строки поиска -->

      <!-- Блок контактной информации -->
      <div class="contact-info">
        <div class="contact-info__phone-number">
          <img
            src="./images/header/Mobile/icon-phone-mobile.svg"
            width="20"
            height="21"
            alt="Мобильная версия иконки номера телефона компании"
            class="contact-info__icon-phone"
          />
          <span class="contact-info__text-phone">8 800 888 88 88</span>
        </div>

        <div class="contact-info__email-support">
          <img
            src="./images/header/Mobile/icon-mail-mobile.svg"
            width="20"
            height="21"
            alt="Мобильная версия иконки номера телефона компании"
            class="contact-info__icon-mail"
          />
          <span class="contact-info__text-mail">info@ecobum.ru</span>
        </div>
      </div>
      <!-- /Блок контактной информации -->
    </div>
  </div>
  <!-- /Верхняя часть с логотипом, городом, строкой поиска и контактами (мыло и номер телефона) -->

  <!-- Нижняя часть с навигацией и их иконки -->
  <nav class="header-navigate">
    <div class="header-navigate__wrapper">
      <ul>
        <li class="header-navigate__products">
          <a href="#">
            <img src="./images/header/Mobile/products.svg" alt="" />
            <span>продукция</span>
          </a>
        </li>

        <li class="header-navigate__discount">
          <a href="#">
            <img src="./images/header/Mobile/discount.svg" alt="" />
            <span>акции</span>
          </a>
        </li>

        <li class="header-navigate__individual-design">
          <a href="#">
            <img src="./images/header/Mobile/individual-design.svg" alt="" />
            <span>индивидуальный дизайн</span>
          </a>
        </li>

        <li class="header-navigate__about-company">
          <a href="#">
            <img src="./images/header/Mobile/about-company.svg" alt="" />
            <span>о компании</span>
          </a>
        </li>

        <li class="header-navigate__delivery-pay">
          <a href="#">
            <img src="./images/header/Mobile/delivery-pay.svg" alt="" />
            <span>доставка и оплата</span>
          </a>
        </li>

        <li class="header-navigate__news">
          <a href="#">
            <img src="./images/header/Mobile/news.svg" alt="" />
            <span>новости</span>
          </a>
        </li>

        <li class="header-navigate__contacts">
          <a href="#">
            <img src="./images/header/Mobile/contacts.svg" alt="" />
            <span>контакты</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- /Нижняя часть с навигацией и их иконки -->
</header>
