<div class="purchase-page">
  <div class="bread-crumbs">
    <span class="bread-crumbs__one">главная</span
    ><span class="bread-crumbs__pointer-separator"></span
    ><span class="bread-crumbs__two">продукция</span
    ><span class="bread-crumbs__pointer-separator"></span
    ><span class="bread-crumbs__two">стаканы бумажные</span
    ><span class="bread-crumbs__pointer-separator"></span
    ><span class="bread-crumbs__two"
      >стаканы бумажные для горячих напитков</span
    >
  </div>

  <div class="component-making-order">
    <e-html
      data-src="./components/purchase-page/making-order/making-order.html"
    ></e-html>
  </div>

  <div class="component-product-also-order">
    <e-html
      data-src="./components/purchase-page/product-also-order/product-also-order.html"
    ></e-html>
  </div>

  <div style="margin-top: 60px">
    <e-html
      data-src="./components/form/form-individ-design/form-individ-design.html"
    ></e-html>
  </div>

  <h2 class="purchase-page__title">Описание</h2>

  <div>
    <e-html
      data-src="./components/products/product-page-description/product-page-description.html"
    ></e-html>
  </div>

  <div class="component-addit-recommends">
    <e-html
      data-src="./components/purchase-page/addit-recommends/addit-recommends.html"
    ></e-html>
  </div>
</div>
