<div class="news-and-promo-selected">
  <div class="current-news-promo">
    <div class="bread-crumbs">
      <span class="bread-crumbs__one">главная</span
      ><span class="bread-crumbs__pointer-separator"></span
      ><span class="bread-crumbs__two">новости и акции</span>
    </div>

    <div class="current-news-promo__cover-image">
      <div class="current-news-promo__date">02.02.2022</div>
    </div>

    <div class="current-news-promo__hashtag">#акция</div>

    <h2 class="current-news-promo__title">
      Скидки на бумажные стаканы с индивидуальным дизайном
    </h2>

    <div class="current-news-promo__description">
      <p class="current-news-promo__first-paragraph">
        Брендирование стаканов для кофе или чая имеет высокий коэффициент успеха
        по сравнению с другими маркетинговыми стратегиями. Бумажный стаканчик
        обладает прекрасным потенциалом, чтобы вызвать интерес к бренду. Графика
        и контент, напечатанные на нем, скорее всего, будут обсуждаться, а
        призыв к действию – сработает.
      </p>

      <h2 class="current-news-promo__paragraph-title">
        Технология производства
      </h2>

      <p class="current-news-promo__second-paragraph">
        Бумажные стаканчики изготавливаются из целлюлозного картона высшего
        сорта MetsaBoard, прошедшего полный цикл переработки. Обычно
        используется макулатурный или целлюлозный картон, плотностью до 300
        г/м2. Это экологически чистое сырью, полученное из деревьев хвойных и
        лиственных пород. Технология производства допускает использование таких
        видов покрытий, для повышения потребительских свойств готовой продукции.
      </p>

      <span class="current-news-promo__sub-title">Например:</span>

      <ul class="current-news-promo__adv">
        <li>
          Двустороннее или одностороннее ламинирование – предотвращает появление
          конденсата на внешних и внутренних поверхностях, исключает вероятность
          протекания;
        </li>
        <li>Антистатическая плёнка – улучшает разделение стаканов;</li>
        <li>
          УФ или ВД лак – повышают механическую прочность и устойчивость к
          истираниям;
        </li>
        <li>
          Soft-Touch – покрытие напоминает эластичную резину, что улучшает
          тактильный контакт с поверхностью.
        </li>
      </ul>
    </div>
  </div>

  <div style="margin-top: 90px">
    <e-html
      data-src="./components/news-and-promo/other-news-and-promo/other-news-and-promo.html"
    ></e-html>
  </div>
</div>
