<div class="present-company-advantages">
  <div class="present-company-advantages__item own-production">
    <video loop muted autoplay>
      <source
        src="./videos/present-company-advantages/1.own-production.mp4"
        type="video/mp4"
      />
    </video>

    <div class="overlay-description">
      <div class="overlay-description__title advantage-title">
        <span class="advantage-title__top">собственное</span>
        <span class="advantage-title__down">производство</span>
      </div>

      <div class="overlay-description__text advantage-text">
        Современные и экологичные производственные мощности в Серпуховском
        районе Московской области
      </div>
    </div>
  </div>

  <div class="present-company-advantages__item ecological-materials">
    <video loop muted autoplay>
      <source
        src="./videos/present-company-advantages/2.ecological-materials.mp4"
        type="video/mp4"
      />
    </video>

    <div class="overlay-description">
      <div class="overlay-description__title advantage-title">
        <span class="advantage-title__top">эко</span
        ><span class="advantage-title__down">логичное сырье</span>
      </div>

      <div class="overlay-description__text advantage-text">
        Вся продукция изготовлена из сертифицированного экологичного сырья и
        подлежит вторичной переработке
      </div>
    </div>
  </div>

  <div class="present-company-advantages__item delivery-russia">
    <video loop muted autoplay>
      <source
        src="./videos/present-company-advantages/3.delivery-russia.mp4"
        type="video/mp4"
      />
    </video>

    <div class="overlay-description">
      <div class="overlay-description-wrapper">
        <div class="overlay-description__title advantage-title">
          <span class="advantage-title__top">доставка</span>
          <span class="advantage-title__down">по россии</span>
        </div>

        <div class="overlay-description__text advantage-text">
          Доставляем продукцию транспортными компаниями по территории РФ. Наши
          менеджеры помогут рассчитать оптимальный вариант доставки
        </div>
      </div>
    </div>
  </div>
</div>
