<div class="they-cooperating swiper">
  <div class="they-cooperating__top">
    <h1 class="cooperating__title">с нами уже сотрудничают</h1>

    <div class="manager-buttons">
      <button class="manager-buttons__left"></button>
      <button class="manager-buttons__right"></button>
    </div>
  </div>

  <div class="they-cooperating__body cooperatings swiper-wrapper">
    <div
      class="cooperatings__item azbuka-vkusa swiper-slide"
      style="
        background-image: url('./images/main/they-cooperating/cooperating__azbuka-vkusa.svg');
      "
    ></div>

    <div
      class="cooperatings__item ikea-partner swiper-slide"
      style="
        background-image: url('./images/main/they-cooperating/cooperating__ikea-partner.svg');
      "
    ></div>

    <div
      class="cooperatings__item kuyagansky swiper-slide"
      style="
        background-image: url('./images/main/they-cooperating/cooperating__kuyagansky.svg');
      "
    ></div>

    <div
      class="cooperatings__item pizza-tokka swiper-slide"
      style="
        background-image: url('./images/main/they-cooperating/cooperating__pizza-tokka.svg');
      "
    ></div>
  </div>
</div>
