@media (max-width: 1410px) {
  .individual-design {
    &__box {
      width: 930px;
      margin: 0 auto;
    }

    .component-example-works-slider {
      width: 65.957446808511%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
