<div class="individual-design">
  <div class="individual-design__box">
    <div class="individual-design__main-page">
      <a class="individual-design__link" href="#">главная</a>
    </div>

    <div class="individual-design__header">индвидуальный дизайн</div>

    <div class="individual-design__text">
      <p>
        Компания ПланетаЭкоБум – крупнейший поставщик и производитель
        одноразовой бмужаной посуды и упаковки.
      </p>
      <br />
      <p>
        Мы активно развиваемся и постоянно пополняем ассортимент продукции
        новыми позициями. В настоящее время в каталоге можно найти широкий
        ассортимент одноразовой бумажной посуды и упаковки.
      </p>
      <br />
      <p>
        Вся продукция имеет необходимые сертификаты и официальные документы,
        поэтому вы можете быть уверены в надлежащем качестве всех приобретаемых
        товаров.
      </p>
      <br />
      <p>
        Выбрать интересующие вас товары вы можете в каталоге интернет-магазина
        или связаться с нашими менеджерами для обсуждения сотрудничества. Мы
        работаем и осуществляем поставки во все страны СНГ.
      </p>
    </div>

    <div class="individual-design__examples">Примеры работ</div>

    <div class="component-example-works-slider">
      <e-html
        data-src="./components/individual-design/example-works-slider/example-works-slider.html"
      ></e-html>
    </div>
  </div>

  <div style="margin-left: -8px">
    <e-html
      data-src="./components/form/form-individ-design/form-individ-design.html"
    ></e-html>
  </div>
</div>
