<div class="products">
  <div class="bread-crumbs">
    <span class="bread-crumbs__one">главная</span
    ><span class="bread-crumbs__pointer-separator"></span
    ><span class="bread-crumbs__two">продукция</span
    ><span class="bread-crumbs__pointer-separator"></span
    ><span class="bread-crumbs__two">стаканы бумажные</span>
  </div>

  <h2 class="titgle-page">стаканы бумажные для<br />горячих напитков</h2>

  <div class="products-showcase">
    <!-- ряд 1 -->
    <div class="products-showcase__item">
      <div
        class="product-item-preview"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2.5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="products-showcase__item">
      <div
        class="product-item-preview"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__only-price">3 ₽ / шт.</div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="products-showcase__item">
      <div
        class="product-item-preview"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2.5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="products-showcase__item">
      <div
        class="product-item-preview"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2,5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <!-- ряд 2 -->
    <div class="products-showcase__item">
      <div
        class="product-item-preview"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2,5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="products-showcase__item">
      <div
        class="product-item-preview"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2,5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="products-showcase__item">
      <div
        class="product-item-preview"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2,5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="products-showcase__item">
      <div
        class="product-item-preview"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2,5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <!-- ряд 3 -->
    <div class="products-showcase__item">
      <div
        class="product-item-preview"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2,5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="products-showcase__item">
      <div
        class="product-item-preview"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2,5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="products-showcase__item">
      <div
        class="product-item-preview"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2,5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="products-showcase__item">
      <div
        class="product-item-preview"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2,5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <!-- ряд 4 -->
    <div class="products-showcase__item">
      <div
        class="product-item-preview"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2,5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="products-showcase__item">
      <div
        class="product-item-preview"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2,5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="products-showcase__item">
      <div
        class="product-item-preview"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2,5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="products-showcase__item">
      <div
        class="product-item-preview"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2,5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>
  </div>

  <div class="component-products-page-description">
    <e-html
      data-src="./components/products/product-page-description/product-page-description.html"
    ></e-html>
  </div>
</div>
