<div class="making-order">
  <div class="making-order__preview-block">
    <!-- Основной слайдер -->
    <div class="making-order__preview-image swiper">
      <div class="making-order__preview-wrapper swiper-wrapper">
        <div
          class="making-order__preview-slide swiper-slide"
          style="
            background-image: url('./images/purchase-page/making-order/making-order__preview-image.png');
          "
        ></div>

        <div
          class="making-order__preview-slide swiper-slide"
          style="
            background-image: url('./images/purchase-page/making-order/making-order__preview-image-2.png');
          "
        ></div>

        <div
          class="making-order__preview-slide swiper-slide"
          style="
            background-image: url('./images/purchase-page/making-order/making-order__preview-image-3.png');
          "
        ></div>

        <div
          class="making-order__preview-slide swiper-slide"
          style="
            background-image: url('./images/purchase-page/making-order/making-order__preview-image-4.png');
          "
        ></div>

        <div
          class="making-order__preview-slide swiper-slide"
          style="
            background-image: url('./images/purchase-page/making-order/making-order__preview-image-5.png');
          "
        ></div>

        <div
          class="making-order__preview-slide swiper-slide"
          style="
            background-image: url('./images/purchase-page/making-order/making-order__preview-image-6.png');
          "
        ></div>

        <div
          class="making-order__preview-slide swiper-slide"
          style="
            background-image: url('./images/purchase-page/making-order/making-order__preview-image-7.png');
          "
        ></div>

        <div
          class="making-order__preview-slide swiper-slide"
          style="
            background-image: url('./images/purchase-page/making-order/making-order__preview-image-8.png');
          "
        ></div>

        <!--  -->
      </div>

      <button
        class="making-order__preview-button-prev swiper-button-prev"
      ></button>
      <button
        class="making-order__preview-button-next swiper-button-next"
      ></button>
    </div>
    <!-- /Основной слайдер -->

    <!-- Под основным слайдером -->
    <div class="making-order__other-image swiper">
      <div class="making-order__other-wrapper swiper-wrapper">
        <div
          class="making-order__other-slide swiper-slide"
          style="
            background-image: url('./images/purchase-page/making-order/making-order__preview-image.png');
          "
        ></div>

        <div
          class="making-order__other-slide swiper-slide"
          style="
            background-image: url('./images/purchase-page/making-order/making-order__preview-image-2.png');
          "
        ></div>

        <div
          class="making-order__other-slide swiper-slide"
          style="
            background-image: url('./images/purchase-page/making-order/making-order__preview-image-3.png');
          "
        ></div>

        <div
          class="making-order__other-slide swiper-slide"
          style="
            background-image: url('./images/purchase-page/making-order/making-order__preview-image-4.png');
          "
        ></div>

        <div
          class="making-order__other-slide swiper-slide"
          style="
            background-image: url('./images/purchase-page/making-order/making-order__preview-image-5.png');
          "
        ></div>

        <div
          class="making-order__other-slide swiper-slide"
          style="
            background-image: url('./images/purchase-page/making-order/making-order__preview-image-6.png');
          "
        ></div>

        <div
          class="making-order__other-slide swiper-slide"
          style="
            background-image: url('./images/purchase-page/making-order/making-order__preview-image-7.png');
          "
        ></div>

        <div
          class="making-order__other-slide swiper-slide"
          style="
            background-image: url('./images/purchase-page/making-order/making-order__preview-image-8.png');
          "
        ></div>
      </div>
    </div>
    <!-- /Под основным слайдером -->
  </div>

  <div class="making-order__product-info">
    <div class="making-order__head-info">
      <div class="making-order__discount">скидка 10%</div>

      <h2 class="making-order__title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </h2>
    </div>

    <div class="making-order__features-info feature-details">
      <div class="feature-details__row-top">
        <div class="feature-details__volume feature-details__item">
          <span class="feature-details__title">Объем:</span>
          <span class="feature-details__value">200 мл</span>
        </div>
        <div class="feature-details__diameter feature-details__item">
          <span class="feature-details__title">Диаметр:</span>
          <span class="feature-details__value">80 мм</span>
        </div>
        <div class="feature-details__height feature-details__item">
          <span class="feature-details__title">Высота</span>
          <span class="feature-details__value">88 мм</span>
        </div>
      </div>

      <div class="feature-details__row-bottom">
        <div class="feature-details__material feature-details__item">
          <span class="feature-details__title">Материал:</span>
          <span class="feature-details__value">крафт</span>
        </div>
        <div class="feature-details__number-layers feature-details__item">
          <span class="feature-details__title">Количество слоев:</span>
          <span class="feature-details__value">однослойный</span>
        </div>
        <div class="feature-details__features feature-details__item">
          <span class="feature-details__title">особенности:</span>
          <span class="feature-details__value">подходит для горячего</span>
        </div>
      </div>
    </div>

    <div class="making-order__price-conditions">
      <div class="price">
        <span class="price__old-price"> 2.5 ₽</span>
        <span class="price__current-price"> 2 ₽ /шт</span>
      </div>

      <div class="conditions">
        продукция отгружается только оптом от 1000 шт.
      </div>
    </div>

    <div class="making-order__buttons-actions button-action">
      <button class="button-action__create-order">Заказать</button>
      <button class="button-action__ask-question">Задать вопрос</button>
    </div>
  </div>
</div>
