<div class="delivery-and-payment">
  <div class="delivery-and-payment__box">
    <div class="delivery-and-payment__main-page">
      <a class="delivery-and-payment__link" href="#">главная</a>
    </div>

    <div class="delivery-and-payment__header">доставка и оплата</div>

    <div class="delivery-and-payment__text">
      <div class="delivery-and-payment__text-block1">
        <div class="delivery-and-payment__text-header">
          Доставка по Москве и&nbsp;Московской области:
        </div>

        <div class="delivery-and-payment__text-area">
          Мы осуществляем доставку по Москве и Московской области собственным
          автотранспортом. При соблюдении определенных условий по объёму
          заказываемой продукции доставка осуществляется БЕСПЛАТНО, в т.ч. в
          соседние регионы.
          <p>
            Подробнее информацию можно уточнить у наших специалистов по
            телефону: +7&nbsp(000) 000-00-00.
          </p>
        </div>
      </div>

      <div class="delivery-and-payment__text-block2">
        <div class="delivery-and-payment__text-header">Доставка по России:</div>
        <div class="delivery-and-payment__text-area">
          При отправке в регионы, наша компания пользуется услугами транспортных
          компаний.
        </div>
      </div>

      <div class="delivery-and-payment__text-block3">
        <div class="delivery-and-payment__text-header">Самовывоз:</div>
        <div class="delivery-and-payment__text-area">
          Самовывоз осуществляется со склада по адресу: Россия, 142204,
          Московская область, Серпуховский район, д. Глазово, строение 34-45
        </div>
      </div>
    </div>
  </div>
</div>
