<div class="product-page-description">
  <p class="product-page-description__first-paragraph">
    Компания «ЭКО БУМ» предлагает всем желающим купить бумажные стаканы оптом,
    по доступным ценам. У нас собственное производство, оборудованное по
    последнему слову техники. В процессе изготовления соблюдаются нормативные
    требования ГОСТ и Роскомнадзора. Продукция этой категории востребована во
    многих отраслях, поэтому у наших покупателей не бывает проблем со сбытом.
    Подходят бумажные стаканы для коммерческого и бытового применения,
    пользуются стабильно высоким спросом на рынке.
  </p>

  <div class="production-technology">
    <h3>Технология производства</h3>

    <p class="production-technology__paragraph">
      Бумажные стаканчики изготавливаются из целлюлозного картона высшего сорта
      MetsaBoard, прошедшего полный цикл переработки. Обычно используется
      макулатурный или целлюлозный картон, плотностью до 300 г/м2. Это
      экологически чистое сырью, полученное из деревьев хвойных и лиственных
      пород. Технология производства допускает использование таких видов
      покрытий, для повышения потребительских свойств готовой продукции.
    </p>

    <p class="production-technology__paragraph">Например:</p>

    <ul>
      <li>
        Двустороннее или одностороннее ламинирование – предотвращает появление
        конденсата на внешних и внутренних поверхностях, исключает вероятность
        протекания;
      </li>

      <li>Антистатическая плёнка – улучшает разделение стаканов;</li>

      <li>
        УФ или ВД лак – повышают механическую прочность и устойчивость к
        истираниям;
      </li>

      <li>
        Soft-Touch – покрытие напоминает эластичную резину, что улучшает
        тактильный контакт с поверхностью.
      </li>
    </ul>
  </div>
</div>
