<main class="main">
  <!-- Основной слайдер -->
  <div>
    <e-html
      data-src="./components/main/first-slider/first-slider.html"
    ></e-html>
  </div>
  <!-- /Основной слайдер -->

  <!-- Компонент с видосиками -->
  <div class="component-company-present-company-advantages">
    <e-html
      data-src="./components/main/present-company-advantages/present-company-advantages.html"
    ></e-html>
  </div>
  <!-- /Компонент с видосиками -->

  <!-- Перейти в каталог и отправить заявку -->
  <div class="component-transit-goto-add-act">
    <e-html
      data-src="./components/main/transit-goto-add-act/transit-goto-add-act.html"
    ></e-html>
  </div>
  <!-- /Перейти в каталог и отправить заявку -->

  <!-- Хиты продаж -->
  <div class="component-sales-hits-box">
    <e-html
      data-src="./components/main/sales-hits-box/sales-hits-box.html"
    ></e-html>
  </div>
  <!-- /Хиты продаж -->

  <!-- Продукция и категории -->
  <div class="component-products-and-categories">
    <e-html
      data-src="./components/main/products-and-categories/products-and-categories.html"
    ></e-html>
  </div>
  <!-- /Продукция и категории -->

  <!-- Форма заказа индивидуального дизайна -->
  <div class="component-form-for-request-individual-design">
    <e-html
      data-src="./components/form/form-individ-design/form-individ-design.html"
    ></e-html>
  </div>
  <!-- /Форма заказа индивидуального дизайна -->

  <!-- С нами уже сотрудничают -->
  <div class="component-they-cooperating">
    <e-html
      data-src="./components/main/they-cooperating/they-cooperating.html"
    ></e-html>
  </div>
  <!-- /С нами уже сотрудничают -->

  <!-- Новости и акции -->
  <div class="component-news-and-promo">
    <e-html
      data-src="./components/main/news-and-promo/news-and-promo.html"
    ></e-html>
  </div>
  <!-- Новости и акции -->
</main>
