<div class="news-and-promo swiper">
  <!-- Верхняя часть -->
  <div class="news-and-promo__top">
    <!-- Левая часть -->
    <div class="news-and-promo__title-link">
      <h2 class="news-and-promo__title">новости и акции</h2>
      <a href="#" class="news-and-promo__link">смотреть все</a>
    </div>
    <!-- /Левая часть -->

    <div class="news-and-promo__manager-buttons">
      <button class="news-and-promo__button-left"></button>
      <button class="news-and-promo__button-right"></button>
    </div>
  </div>
  <!-- /Верхняя часть -->

  <!-- Тело -->
  <div class="news-and-promo__items swiper-wrapper">
    <!-- Первый слайд -->
    <div class="news-and-promo__item swiper-slide">
      <!-- На слайде -->
      <div
        class="news-and-promo__item-preview"
        style="
          background-image: url('./images/main/news-and-promo/news-and-promo__first-item.png');
        "
      >
        <div class="news-and-promo__item-date">02.02.2022</div>
      </div>
      <!-- На слайде -->

      <div class="news-and-promo__item-description">
        <div class="news-and-promo__item-description-hashtag">#акция</div>
        <div class="news-and-promo__item-description-text">
          Скидки на бумажные стаканы с индивидуальным дизайном
        </div>
      </div>
    </div>
    <!-- /Первый слайд -->

    <!-- Второй слайд -->
    <div class="news-and-promo__item swiper-slide">
      <!-- На слайде -->
      <div
        class="news-and-promo__item-preview"
        style="
          background-image: url('./images/main/news-and-promo/news-and-promo__second-item.png');
        "
      >
        <div class="news-and-promo__item-date">02.02.2022</div>
      </div>
      <!-- На слайде -->

      <div class="news-and-promo__item-description">
        <div class="news-and-promo__item-description-hashtag">#новость</div>
        <div class="news-and-promo__item-description-text">
          Новинка! Теперь в производстве картонные контейнеры для мороженого
        </div>
      </div>
    </div>
    <!-- /Второй слайд -->

    <!-- Третий слайд -->
    <div class="news-and-promo__item swiper-slide">
      <!-- На слайде -->
      <div
        class="news-and-promo__item-preview"
        style="
          background-image: url('./images/main/news-and-promo/news-and-promo__third-item.png');
        "
      >
        <div class="news-and-promo__item-date">02.02.2022</div>
      </div>
      <!-- На слайде -->

      <div class="news-and-promo__item-description">
        <div class="news-and-promo__item-description-hashtag">#новость</div>
        <div class="news-and-promo__item-description-text">
          Новинка! Теперь в производстве картонные контейнеры первых и вторых...
        </div>
      </div>
    </div>
    <!-- /Третий слайд -->

    <!-- Четвертый слайд -->
    <div class="news-and-promo__item swiper-slide">
      <!-- На слайде -->
      <div
        class="news-and-promo__item-preview"
        style="
          background-image: url('./images/main/news-and-promo/news-and-promo__fourth-item.png');
        "
      >
        <div class="news-and-promo__item-date">02.02.2022</div>
      </div>
      <!-- На слайде -->

      <div class="news-and-promo__item-description">
        <div class="news-and-promo__item-description-hashtag">#новость</div>
        <div class="news-and-promo__item-description-text">
          Произведена закупка и пуско-наладка нового оборудования
        </div>
      </div>
    </div>
    <!-- /Четвертый слайд -->
  </div>
  <!-- /Тело -->
</div>
