<div class="notfound">
  <div class="notfound-main">
    <a class="notfound-main__link" href="#">главная</a>
  </div>

  <div class="notfound-error">ошибка 404</div>

  <div class="notfound-image">
    <img class="notfound-img" src="./../images/404/notfound.svg" alt="/" />
  </div>

  <div class="notfound-message">
    <div class="notfound-message__text">
      К сожалению, запрашиваемая страница не найдена.
    </div>
  </div>

  <div class="notfound-button">
    <a class="notfound-btn" href="#">Вернуться&nbsp;на&nbsp;главную</a>
  </div>
</div>
