<div class="product-also-order swiper">
  <div class="product-also-order__top">
    <h2 class="product-also-order__title">С этим товаром заказывают</h2>

    <div class="product-also-order__product-manager-buts manager-buttons">
      <button class="manager-buttons-left"></button>
      <button class="manager-buttons-right"></button>
    </div>
  </div>

  <div class="product-also-order__products also-order-box swiper-wrapper">
    <div class="also-order-box__item swiper-slide">
      <div
        class="product-item-preview"
        style="
          background-image: url('./images/purchase-page/product-also-order/cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            497 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            447 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="also-order-box__item swiper-slide">
      <div
        class="product-item-preview"
        style="
          background-image: url('./images/purchase-page/product-also-order/cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            497 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            447 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="also-order-box__item swiper-slide">
      <div
        class="product-item-preview"
        style="
          background-image: url('./images/purchase-page/product-also-order/cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            497 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            447 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="also-order-box__item swiper-slide">
      <div
        class="product-item-preview"
        style="
          background-image: url('./images/purchase-page/product-also-order/paper-holder.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            497 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            23 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Держатель бумажный для 2-х стаканов 193*108*42 серый
      </div>
    </div>
  </div>
</div>
