<div class="products-and-categories swiper">
  <div class="products-and-categories__top">
    <div class="products-and-categories__title-link title-link">
      <h2 class="title-link__title">продукция</h2>
      <a class="title-link__link" href="#">все категории</a>
    </div>

    <div class="products-and-categories__product-manager-buts manager-buttons">
      <button class="manager-buttons-left"></button>
      <button class="manager-buttons-right"></button>
    </div>
  </div>

  <div
    class="products-and-categories__products categories-products-box swiper-wrapper"
  >
    <div
      class="categories-products-box__item first-category category-preview swiper-slide"
      style="
        background-image: url('./images/main/products-and-categories/product-item__one-paper-cups.png');
      "
    >
      <div class="category-preview__title">стаканы<br />бумажные</div>
      <div class="category-preview__description">
        для горячих и холодных напитков
      </div>
    </div>

    <div
      class="categories-products-box__item second-category category-preview swiper-slide"
      style="
        background-image: url('./images/main/products-and-categories/product-item__two-paper-covers.png');
      "
    >
      <div class="category-preview__title">крышки<br />бумажные</div>
      <div class="category-preview__description">для контейнеров и супниц</div>
    </div>

    <div
      class="categories-products-box__item third-category category-preview swiper-slide"
      style="
        background-image: url('./images/main/products-and-categories/product-item__three-tubes-and-stirrers.png');
      "
    >
      <div class="category-preview__title">трубочки и размешиватели</div>
      <!-- <div class="category-preview__description">описание или для чего отсутствует</div> -->
    </div>
  </div>
</div>
