@media (min-width: 993px) and (max-width: 1200px) {
  .footer {
    &__list1 {
      margin-top: 0;

      .moduletable {
        ul {
          flex-wrap: nowrap;
          flex-direction: column;

          li {
            a {
              &:hover {
                span {
                }
              }

              img {
              }

              span {
              }
            }
          }
        }
      }
    }

    &__list1-item-link {
    }

    &__list1-item-img {
    }

    &__list2 {
      margin-top: 0;

      .moduletable {
        ul {
          flex-wrap: nowrap;
          flex-direction: column;

          li {
            a {
              &:hover {
                span {
                }
              }

              img {
              }

              span {
              }
            }
          }
        }
      }
    }

    &__list2-item-link {
    }

    &__list2-item-img {
    }
  }
  .footer-box {
    margin-right: 30px;
  }
  .footer-uprow {
    &__logo {
      &:hover {
      }
    }

    &__telephone {
      &:hover {
      }
    }

    &__mail {
      &:hover {
      }
    }

    &__logo2 {
    }
  }
  .footer-downrow {
  }
  .footer-box1 {
    &__info {
    }

    &__info-text1 {
    }

    &__info-text2 {
    }
  }
  .footer-box2 {
    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__moreinfo {
      margin-bottom: 60px;
    }

    &__politics {
      &:hover {
      }
    }

    &__text {
      &:hover {
      }
    }
  }
  .moduletable {
  }
  .nav {
  }
  .menu {
  }
  .mod-list {
  }
  .item-148 {
  }
  .image-title {
  }
  .item-149 {
  }
  .item-150 {
  }
  .item-151 {
  }
  .item-152 {
  }
  .item-153 {
  }
  .item-154 {
  }
}
