<footer class="footer">
  <div class="footer-box">
    <div class="footer-uprow">
      <img
        onclick="window.location.href='/'"
        class="footer-uprow__logo"
        src="./images/footer/logo/logo__planet-eco-boom.svg"
      />
      <div
        onclick="location.href='tel:8 800 888 88 88'"
        class="footer-uprow__telephone"
      >
        8 800 888 88 88
      </div>
      <div
        onclick="location.href='mailto:zakaz@planeta-eko-bym.ru'"
        class="footer-uprow__mail"
      >
        zakaz@planeta-eko-bym.ru
      </div>
    </div>

    <div class="footer-downrow">
      <div class="footer-box1">
        <div class="footer-box1__info">
          <div class="footer-box1__info-text1">
            Производство и оптовая поставка бумажной посуды и упаковки
          </div>

          <div class="footer-box1__info-text2">
            ООО «Планета дверей» ИНН&nbsp;7743217126, ОГРН 1177746656317
          </div>

          <img
            class="footer-uprow__logo2"
            src="./images/footer/icons/made_in_ru.svg"
          />
        </div>
      </div>

      <div class="footer-box2">
        <div class="footer-box2__list">
          <div class="footer__list1">
            <div class="moduletable">
              <ul class="nav menu footer__list1 mod-list">
                <li class="item-148">
                  <a href="/produktsiya.html" class="footer__list1-item-link">
                    <img
                      src="./images/footer/icons/products.svg"
                      alt="продукция"
                      class="footer__list1-item-img"
                    />
                    <span class="image-title">продукция</span>
                  </a>
                </li>

                <li class="item-149">
                  <a href="/aktsii.html" class="footer__list1-item-link"
                    ><img
                      src="./images/footer/icons/sales.svg"
                      alt="акции"
                      class="footer__list1-item-img"
                    /><span class="image-title">акции</span></a
                  >
                </li>

                <li class="item-150">
                  <a
                    href="/individualnyj-dizajn.html"
                    class="footer__list1-item-link"
                    ><img
                      src="./images/footer/icons/design.svg"
                      alt="индивидуальный дизайн"
                      class="footer__list1-item-img"
                    /><span class="image-title">индивидуальный дизайн</span></a
                  >
                </li>
              </ul>
            </div>
          </div>

          <div class="footer__list2">
            <div class="moduletable">
              <ul class="nav menu footer__list2 mod-list">
                <li class="item-151">
                  <a href="/o-kompanii.html" class="footer__list2-item-link"
                    ><img
                      src="./images/footer/icons/about.svg"
                      alt="о компании"
                      class="footer__list2-item-img"
                    /><span class="image-title">о компании</span></a
                  >
                </li>
                <li class="item-152">
                  <a
                    href="/dostavka-i-oplata.html"
                    class="footer__list2-item-link"
                    ><img
                      src="./images/footer/icons/delivery.svg"
                      alt="доставка и оплата"
                      class="footer__list2-item-img"
                    /><span class="image-title">доставка и оплата</span></a
                  >
                </li>
                <li class="item-153">
                  <a href="/novosti.html" class="footer__list2-item-link"
                    ><img
                      src="./images/footer/icons/news.svg"
                      alt="новости"
                      class="footer__list2-item-img"
                    /><span class="image-title">новости</span></a
                  >
                </li>
                <li class="item-154">
                  <a href="/kontakty.html" class="footer__list2-item-link"
                    ><img
                      src="./images/footer/icons/contacts.svg"
                      alt="контакты"
                      class="footer__list2-item-img"
                    /><span class="image-title">контакты</span></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="footer-box2__moreinfo">
          <div class="footer-box2__politics">
            <a class="footer-box2__politics" href="/privacy-policy.html"
              >Политика конфиденциальности</a
            >
          </div>

          <div
            onclick="location.href='https://istarweb.ru'"
            class="footer-box2__text"
          >
            ЭкоДизайн и разработка istarweb.ru
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
