<footer class="footer">
  <div class="footer-box">
    <div class="footer-uprow">
      <img
        class="footer-uprow__logo"
        src="./images/footer/logo/logo__planet-eco-boom.svg"
      />
      <div class="footer-uprow__telephone">8 800 888 88 88</div>
      <div class="footer-uprow__mail">info@ecobum.ru</div>
    </div>

    <div class="footer-downrow">
      <div class="footer-box1">
        <div class="footer-box1__info">
          <div class="footer-box1__info-text1">
            Производство и оптовая поставка бумажной посуды и упаковки
          </div>

          <div class="footer-box1__info-text2">
            ООО «Планета дверей» ИНН&nbsp7743217126, ОГРН 1177746656317
          </div>

          <img
            class="footer-uprow__logo2"
            src="./images/footer/icons/made_in_ru.svg"
          />
        </div>
      </div>

      <div class="footer-box2">
        <div class="footer-box2__list">
          <div class="footer__list1">
            <div class="footer__list1-item">
              <img
                class="footer__list1-item-img"
                src="./images/footer/icons/products.svg"
              />
              <a class="footer__list1-item-link" href="#">продукция</a>
            </div>

            <div class="footer__list1-item footer__list1-fix-margin">
              <img
                class="footer__list1-item-img"
                src="./images/footer/icons/sales.svg"
              />
              <a class="footer__list1-item-link" href="#">акции</a>
            </div>

            <div class="footer__list1-item">
              <img
                class="footer__list1-item-img"
                src="./images/footer/icons/design.svg"
              />
              <a class="footer__list1-item-link" href="#"
                >индивидуальный дизайн</a
              >
            </div>
          </div>

          <div class="footer__list2">
            <div class="footer__list2-item">
              <img
                class="footer__list2-item-img"
                src="./images/footer/icons/about.svg"
              />
              <a class="footer__list2-item-link" href="#">о компании</a>
            </div>

            <div class="footer__list2-item">
              <img
                class="footer__list2-item-img"
                src="./images/footer/icons/delivery.svg"
              />
              <a class="footer__list2-item-link" href="#">доставка и оплата</a>
            </div>

            <div class="footer__list2-item footer__list2-fix-margin">
              <img
                class="footer__list2-item-img"
                src="./images/footer/icons/news.svg"
              />
              <a class="footer__list2-item-link" href="#">новости</a>
            </div>

            <div class="footer__list2-item">
              <img
                class="footer__list2-item-img"
                src="./images/footer/icons/contacts.svg"
              />
              <a class="footer__list2-item-link" href="#">контакты</a>
            </div>
          </div>
        </div>

        <div class="footer-box2__moreinfo">
          <div class="footer-box2__politics">
            <a class="footer-box2__politics" href="#"
              >Политика конфиденциальности</a
            >
          </div>

          <div class="footer-box2__text">
            ЭкоДизайн и разработка istarweb.ru
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
