<div class="contacts">
  <div class="contacts-box">
    <div class="contacts-main__page">
      <a class="contacts-main__link" href="#">главная</a>
    </div>

    <div class="contacts-header">контакты</div>

    <div class="contacts-telephone">
      <div class="contacts-telephone__header">бесплатно по РФ</div>
      <div class="contacts-telephone__number">8 800 888 88 88</div>
    </div>

    <div class="contacts-info">
      <div class="contacts-sales_department">
        <div class="contacts-sales_department-name">отдел продаж</div>

        <ul class="contacts-sales__list">
          <li class="contacts-sales__item">+7 (495) 121-48-82</li>
          <li class="contacts-sales__item">+7 (495) 584-00-09</li>
          <li class="contacts-sales__item">+7 (495) 584-00-09</li>
        </ul>
      </div>

      <div class="contacts-otherinfo">
        <div class="contacts-otherinfo__mail">
          <div class="contacts-otherinfo__mail-name">электронная почта</div>
          <div class="contacts-otherinfo__mail-value">info@ecobum.ru</div>
        </div>

        <div class="contacts-otherinfo__address">
          <div class="contacts-otherinfo__address-name">
            адрес отдела продаж и производства
          </div>
          <div class="contacts-otherinfo__address-value">
            МО, Серпуховский р-н, деревня Глазово, Строение 34-45
          </div>
        </div>

        <div class="contacts-otherinfo__worktime">
          <div class="contacts-otherinfo__worktime-name">режим работы</div>
          <div class="contacts-otherinfo__worktime-value">
            Пн-Пт: 09:00 — 18:00 Сб, Вс: выходной
          </div>
        </div>
      </div>
    </div>

    <div class="contacts-map" id="contacts-map"></div>

    <div class="contacts-callback">
      <div class="contacts-callback__name">Обратная связь</div>

      <form class="contacts-callback__form" action="#">
        <div class="contacts-callback__box1">
          <div class="contacts-callback__label-box">
            <input
              class="contacts-callback__input-name"
              type="text"
              id="name"
              placeholder=" "
            />

            <label class="contacts-callback__label" for="name">Ваше имя</label>
          </div>

          <div class="contacts-callback__label-box fix-margin">
            <input
              class="contacts-callback__input-company"
              type="text"
              id="company"
              placeholder=" "
            />

            <label class="contacts-callback__label" for="company"
              >Компания</label
            >
          </div>
        </div>
        <div class="contacts-callback__box2">
          <div class="contacts-callback__label-box">
            <input
              class="contacts-callback__input-mail"
              type="text"
              id="mail"
              placeholder=" "
            />

            <label class="contacts-callback__label" for="mail"
              >Электронная почта</label
            >
          </div>

          <div class="contacts-callback__label-box fix-margin">
            <input
              class="contacts-callback__input-telephone"
              type="text"
              id="tel"
              placeholder=" "
            />

            <label class="contacts-callback__label" for="tel"
              >Номер телефона</label
            >
          </div>
        </div>

        <div class="contacts-callback__textarea-box">
          <textarea
            class="contacts-callback__textarea"
            id="textarea"
            placeholder=" "
          ></textarea>
          <label
            class="contacts-callback__label contacts-callback__label-textarea"
            for="textarea"
            >Ваше сообщение</label
          >
        </div>
      </form>

      <div class="contacts-callback__down-row">
        <div class="contacts-callback__down-row-text">
          Отправляя форму, вы даете согласие на обработку ваших
          <a class="contacts-callback__down-row-link" href="№"
            >персональных данных</a
          >
        </div>

        <button class="contacts-callback__down-row-submit">Отправить</button>
      </div>
    </div>
  </div>
</div>
