<div class="product-categories">
  <div class="product-categories__wrapper">
    <div class="product-categories__item">
      <p>для горячих напитков</p>

      <img
        src="./images/products/product-categories/first-background.png"
        class="product-categories__item-image"
        alt="Картинка категории - для горячих напитков"
      />
      <img
        src="./images/products/product-categories/first-category__icon.svg"
        class="product-categories__item-icon"
        alt="Картинка категории - для горячих напитков"
      />
    </div>

    <div class="product-categories__item">
      <p>для холодных напитков</p>

      <img
        src="./images/products/product-categories/second-background.png"
        class="product-categories__item-image"
        alt="Картинка категории - для горячих напитков"
      />
      <img
        src="./images/products/product-categories/second-category__icon.svg"
        class="product-categories__item-icon"
        alt="Картинка категории - для горячих напитков"
      />
    </div>

    <div class="product-categories__item">
      <p>переноски для стаканов</p>

      <img
        src="./images/products/product-categories/third-background.png"
        class="product-categories__item-image"
        alt="Картинка категории - для горячих напитков"
      />
      <img
        src="./images/products/product-categories/third-category__icon.svg"
        class="product-categories__item-icon"
        alt="Картинка категории - для горячих напитков"
      />
    </div>

    <!--  -->
  </div>
</div>
