<div class="first-slider swiper">
  <!-- Additional required wrapper -->
  <div class="first-slider__wrapper swiper-wrapper">
    <!-- Slides -->
    <div class="first-slider__slide first-slider__slide-first swiper-slide">
      <picture class="first-slider__slide-image">
        <source
          srcset="./images/main/first-slider/Desktop/slider__one-condition.png"
          media="(min-width: 767px)"
        />
        <source
          srcset="./images/main/first-slider/Mobile/slider__one-condition.png"
          media="(max-width: 767px)"
        />
        <img
          src="./images/main/first-slider/Desktop/slider__browser-not-found.png"
          alt="Абстрактное изображение"
          width="100%"
        />
      </picture>

      <div class="first-slider__slide-content">
        Оптовые поставки одноразовой бумажной посуды и упаковки
      </div>
    </div>

    <div class="first-slider__slide first-slider__slide-second swiper-slide">
      <picture class="first-slider__slide-image">
        <source
          srcset="./images/main/first-slider/Desktop/slider__two-condition.png"
          media="(min-width: 767px)"
        />
        <source
          srcset="./images/main/first-slider/Mobile/slider__two-condition.png"
          media="(max-width: 767px)"
        />
        <img
          src="./images/main/first-slider/Desktop/slider__browser-not-found.png"
          alt="Абстрактное изображение"
          width="100%"
        />
      </picture>

      <div class="first-slider__slide-content">
        Оптовые поставки одноразовой бумажной посуды и упаковки
      </div>
    </div>
  </div>

  <div class="first-slider__pagination swiper-pagination"></div>

  <button class="first-slider__button-prev swiper-button-prev"></button>
  <button class="first-slider__button-next swiper-button-next"></button>
</div>
