<div class="popup-wrapper">
  <div class="popup-city-select">
    <div class="popup-city-select__head">
      <h2 class="popup-city-select__title">Выбрать город</h2>
      <button class="popup-city-select__button-close"></button>
    </div>

    <div class="popup-city-select__body">
      <div class="popup-city-select__cities">
        <div class="popup-city-select__city-name">Краснодар</div>
        <div class="popup-city-select__city-name">Ростов-на-Дону</div>
        <div class="popup-city-select__city-name">Воронеж</div>
        <div class="popup-city-select__city-name">Сыктывкар</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <!--  -->

        <div class="popup-city-select__city-name">Краснодар</div>
        <div class="popup-city-select__city-name">Ростов-на-Дону</div>
        <div class="popup-city-select__city-name">Воронеж</div>
        <div class="popup-city-select__city-name">Сыктывкар</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Краснодар</div>
        <div class="popup-city-select__city-name">Ростов-на-Дону</div>
        <div class="popup-city-select__city-name">Воронеж</div>
        <div class="popup-city-select__city-name">Сыктывкар</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Краснодар</div>
        <div class="popup-city-select__city-name">Ростов-на-Дону</div>
        <div class="popup-city-select__city-name">Воронеж</div>
        <div class="popup-city-select__city-name">Сыктывкар</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Краснодар</div>
        <div class="popup-city-select__city-name">Ростов-на-Дону</div>
        <div class="popup-city-select__city-name">Воронеж</div>
        <div class="popup-city-select__city-name">Сыктывкар</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Краснодар</div>
        <div class="popup-city-select__city-name">Ростов-на-Дону</div>
        <div class="popup-city-select__city-name">Воронеж</div>
        <div class="popup-city-select__city-name">Сыктывкар</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Краснодар</div>
        <div class="popup-city-select__city-name">Ростов-на-Дону</div>
        <div class="popup-city-select__city-name">Воронеж</div>
        <div class="popup-city-select__city-name">Сыктывкар</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Краснодар</div>
        <div class="popup-city-select__city-name">Ростов-на-Дону</div>
        <div class="popup-city-select__city-name">Воронеж</div>
        <div class="popup-city-select__city-name">Сыктывкар</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Краснодар</div>
        <div class="popup-city-select__city-name">Ростов-на-Дону</div>
        <div class="popup-city-select__city-name">Воронеж</div>
        <div class="popup-city-select__city-name">Сыктывкар</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Краснодар</div>
        <div class="popup-city-select__city-name">Ростов-на-Дону</div>
        <div class="popup-city-select__city-name">Воронеж</div>
        <div class="popup-city-select__city-name">Сыктывкар</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Краснодар</div>
        <div class="popup-city-select__city-name">Ростов-на-Дону</div>
        <div class="popup-city-select__city-name">Воронеж</div>
        <div class="popup-city-select__city-name">Сыктывкар</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Краснодар</div>
        <div class="popup-city-select__city-name">Ростов-на-Дону</div>
        <div class="popup-city-select__city-name">Воронеж</div>
        <div class="popup-city-select__city-name">Сыктывкар</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Краснодар</div>
        <div class="popup-city-select__city-name">Ростов-на-Дону</div>
        <div class="popup-city-select__city-name">Воронеж</div>
        <div class="popup-city-select__city-name">Сыктывкар</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Краснодар</div>
        <div class="popup-city-select__city-name">Ростов-на-Дону</div>
        <div class="popup-city-select__city-name">Воронеж</div>
        <div class="popup-city-select__city-name">Сыктывкар</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Краснодар</div>
        <div class="popup-city-select__city-name">Ростов-на-Дону</div>
        <div class="popup-city-select__city-name">Воронеж</div>
        <div class="popup-city-select__city-name">Сыктывкар</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Краснодар</div>
        <div class="popup-city-select__city-name">Ростов-на-Дону</div>
        <div class="popup-city-select__city-name">Воронеж</div>
        <div class="popup-city-select__city-name">Сыктывкар</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Краснодар</div>
        <div class="popup-city-select__city-name">Ростов-на-Дону</div>
        <div class="popup-city-select__city-name">Воронеж</div>
        <div class="popup-city-select__city-name">Сыктывкар</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Краснодар</div>
        <div class="popup-city-select__city-name">Ростов-на-Дону</div>
        <div class="popup-city-select__city-name">Воронеж</div>
        <div class="popup-city-select__city-name">Сыктывкар</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Краснодар</div>
        <div class="popup-city-select__city-name">Ростов-на-Дону</div>
        <div class="popup-city-select__city-name">Воронеж</div>
        <div class="popup-city-select__city-name">Сыктывкар</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
        <div class="popup-city-select__city-name">Санкт-Петербург</div>
        <div class="popup-city-select__city-name">Красноярск</div>
      </div>
    </div>
  </div>
</div>
