<div class="sales-hits-box swiper">
  <div class="sales-hits-box__top">
    <div class="sales-hits-box__title-link title-link">
      <h2 class="title-link__title">хиты продаж</h2>
      <a class="title-link__link" href="#">все товары по акции</a>
    </div>

    <div class="sales-hits-box__product-manager-buts manager-buttons">
      <button class="manager-buttons-left"></button>
      <button class="manager-buttons-right"></button>
    </div>
  </div>

  <div class="sales-hits-box__products hits-box-products swiper-wrapper">
    <div class="hits-box-products__item swiper-slide">
      <div
        class="product-item-preview product-preview__one-left"
        style="
          background-image: url('./images/main/sales-hits-box/product-item__one-first-plast-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>

        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            5 ₽ / шт.
          </span>

          <span class="product-item-preview__new-price-current-price">
            4 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="hits-box-products__item swiper-slide">
      <div
        class="product-item-preview product-preview__two-left"
        style="
          background-image: url('./images/main/sales-hits-box/product-item__two-pap-hold-plastic-cups.png');
          background-repeat: no-repeat;
          background-position: top 0px left -30px;
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>

        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            497 ₽ / шт.
          </span>

          <span class="product-item-preview__new-price-current-price">
            23 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Держатель бумажный для 2-х стаканов 193*108*42 серый
      </div>
    </div>

    <div class="hits-box-products__item swiper-slide">
      <div
        class="product-item-preview product-preview__three-right"
        style="
          background-image: url('./images/main/sales-hits-box/product-item__three-new-years-papplate.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>

        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            4 ₽ / шт.
          </span>

          <span class="product-item-preview__new-price-current-price">
            3 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">тарелка бумажная новогодняя</div>
    </div>

    <div class="hits-box-products__item swiper-slide">
      <div
        class="product-item-preview product-preview__four-right"
        style="
          background-image: url('./images/main/sales-hits-box/product-item__four-multicolor-pap-tubs.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>

        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            1,5 ₽ / шт.
          </span>

          <span class="product-item-preview__new-price-current-price">
            1 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        трубочки бумажные коктейльные разноцветные
      </div>
    </div>
  </div>
</div>
