@media (max-width: 767px) {
  .other-news-and-promo {
    margin-left: 15px;
    height: 471px;

    &__top {
      display: flex;
      justify-content: space-between;
      height: fit-content;
    }

    &__title {
      margin-top: 7px;
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 100%;

      letter-spacing: -0.06em;

      color: #212121;
    }

    .manager-buttons {
      display: none;

      button {
        display: none;
      }

      .manager-buttons-left {
        display: none;
      }

      .manager-buttons-right {
        display: none;
      }
    }

    .other-news-and-promo-elements {
      height: 374px;
      margin-top: 30px;
      display: flex;
      justify-content: space-between;

      &__item {
        width: 212px;
        height: 374px;
      }

      .one-element {
        &__preview {
          border-radius: 20px;

          width: 212px;
          height: 244px;

          padding: 15px;

          background-size: cover;
        }

        &__date-event {
          background-color: #fff;

          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 100%;

          display: flex;
          align-items: center;
          letter-spacing: -0.06em;

          color: #212121;

          border-radius: 10px;
          padding: 10px;

          width: fit-content;
          height: 34px;
        }

        .one-element-description {
          margin-top: 15px;

          &__hashtag {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;

            letter-spacing: -0.06em;

            color: #27ae60;
          }

          &__text {
            margin-top: 5px;

            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;

            letter-spacing: -0.06em;
            text-transform: lowercase;

            color: #212121;
          }
        }
      }
    }
  }
}
