<div class="other-news-and-promo swiper">
  <div class="other-news-and-promo__top">
    <h2 class="other-news-and-promo__title">Другие новости и акции</h2>

    <div class="other-news-and-promo__product-manager-buts manager-buttons">
      <button class="manager-buttons-left"></button>
      <button class="manager-buttons-right"></button>
    </div>
  </div>

  <div
    class="other-news-and-promo__body other-news-and-promo-elements swiper-wrapper"
  >
    <div
      class="other-news-and-promo-elements__item one-element first-item swiper-slide"
    >
      <div
        class="one-element__preview"
        style="
          background-image: url('./images/news-and-promo/news-and-promo-selected/news-and-promo__first-item.png');
        "
      >
        <div class="one-element__date-event">02.02.2022</div>
      </div>

      <div class="one-element-description">
        <div class="one-element-description__hashtag">#акция</div>
        <div class="one-element-description__text">
          Скидки на бумажные стаканы с индивидуальным дизайном
        </div>
      </div>
    </div>

    <div
      class="other-news-and-promo-elements__item one-element second-item swiper-slide"
    >
      <div
        class="one-element__preview"
        style="
          background-image: url('./images/news-and-promo/news-and-promo-selected/news-and-promo__second-item.png');
        "
      >
        <div class="one-element__date-event">02.02.2022</div>
      </div>

      <div class="one-element-description">
        <div class="one-element-description__hashtag">#новость</div>
        <div class="one-element-description__text">
          Новинка! Теперь в производстве картонные контейнеры для мороженого
        </div>
      </div>
    </div>

    <div
      class="other-news-and-promo-elements__item one-element third-item swiper-slide"
    >
      <div
        class="one-element__preview"
        style="
          background-image: url('./images/news-and-promo/news-and-promo-selected/news-and-promo__third-item.png');
        "
      >
        <div class="one-element__date-event">02.02.2022</div>
      </div>

      <div class="one-element-description">
        <div class="one-element-description__hashtag">#новость</div>
        <div class="one-element-description__text">
          Новинка! Теперь в производстве картонные контейнеры первых и вторых...
        </div>
      </div>
    </div>

    <div
      class="other-news-and-promo-elements__item one-element fourth-item swiper-slide"
    >
      <div
        class="one-element__preview"
        style="
          background-image: url('./images/news-and-promo/news-and-promo-selected/news-and-promo__fourth-item.png');
        "
      >
        <div class="one-element__date-event">02.02.2022</div>
      </div>

      <div class="one-element-description">
        <div class="one-element-description__hashtag">#новость</div>
        <div class="one-element-description__text">
          Произведена закупка и пуско-наладка нового оборудования
        </div>
      </div>
    </div>
  </div>

  <!--  -->
</div>
