<div class="form-individ-gesign">
  <div class="form-individ-gesign__cups-image"></div>

  <!-- Левая часть -->
  <div class="form-individ-gesign__left">
    <h2 class="form-individ-gesign__title">
      нужна продукция<br />с вашим дизайном?
    </h2>
    <p class="form-individ-gesign__description">
      Знаем как сделать яркую печать без запаха и отмара. Срок производства — 2
      недели
    </p>
  </div>
  <!-- /Левая часть -->

  <!-- Правая часть -->
  <div class="form-individ-gesign__right">
    <p class="form-individ-gesign__action-before">
      Отправьте заявку и мы вышлем подробный прайс с ценами и примерами работ
    </p>

    <form action="#" class="form-individ-gesign__form-requist">
      <div class="form-individ-gesign__input-name-box">
        <input
          type="text"
          class="form-individ-gesign__input-name"
          id="name"
          placeholder=" "
        />
        <label for="name" class="form-individ-gesign__input-name-label"
          >Ваше имя</label
        >
      </div>

      <div class="form-individ-gesign__input-phone-box">
        <input
          type="text"
          class="form-individ-gesign__input-phone"
          id="phone"
          placeholder=" "
        />
        <label for="phone" class="form-individ-gesign__input-phone-label"
          >Номер телефона</label
        >
      </div>

      <div class="form-individ-gesign__input-email-box">
        <input
          type="text"
          class="form-individ-gesign__input-email"
          id="email"
          placeholder=" "
        />
        <label for="email" class="form-individ-gesign__input-email-label"
          >Электронная почта</label
        >
      </div>

      <button class="form-individ-gesign__send-request">Отправить</button>
    </form>

    <p class="form-individ-gesign__text-personal-data">
      Отправляя форму, вы даете согласие на обработку ваших
      <a href="#" class="form-individ-gesign__link-rules-of-form"
        >персональных данных</a
      >
    </p>
  </div>
  <!-- /Правая часть -->
</div>
