<div class="ask-question">
  <div class="ask-question__box">
    <div class="ask-question__header">
      <div class="ask-question__header-value">Задать&nbspвопрос</div>
      <button class="ask-question__header-button"></button>
    </div>

    <form class="ask-question__form" action="#">
      <div class="ask-question__form-box1">
        <div class="ask-question__form-name">
          <input
            class="ask-question__input-name"
            type="text"
            id="name"
            placeholder=" "
          />
          <label class="ask-question__name-label" for="name">Ваше имя</label>
        </div>

        <div class="ask-question__form-tel">
          <input
            class="ask-question__input-tel"
            type="text"
            id="tel"
            placeholder=" "
          />
          <label class="ask-question__tel-label" for="tel"
            >Номер телефона</label
          >
        </div>
      </div>

      <div class="ask-question__form-box2">
        <div class="ask-question__form-mail">
          <input
            class="ask-question__input-mail"
            type="text"
            id="mail"
            placeholder=" "
          />
          <label class="ask-question__mail-label" for="mail"
            >Электронная почта</label
          >
        </div>

        <div class="ask-question__form-textarea">
          <input
            class="ask-question__textarea"
            id="textarea"
            placeholder=" "
          ></input>
          <label class="ask-question__textarea-label" for="textarea"
            >Ваш вопрос</label
          >
        </div>

        <button class="ask-question__button">Заказать</button>
        <div class="ask-question__down-text">
          Отправляя форму, вы даете согласие на обработку ваших
          <a class="ask-question__down-text-link" href="#"
            >персональных данных</a
          >
        </div>
      </div>
    </form>
  </div>
</div>
