<div class="products-promo">
  <div class="bread-crumbs">
    <span class="bread-crumbs__one">главная</span
    ><span class="bread-crumbs__pointer-separator"></span
    ><span class="bread-crumbs__two">продукция</span>
  </div>

  <h2 class="titgle-page">акции</h2>

  <div class="products-showcase">
    <!-- ряд 1 -->
    <div class="products-showcase__item">
      <div
        class="product-item-preview product-preview__one-left"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2.5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="products-showcase__item">
      <div
        class="product-item-preview product-preview__two-left"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__only-price">3 ₽ / шт.</div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="products-showcase__item">
      <div
        class="product-item-preview product-preview__three-right"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2.5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="products-showcase__item">
      <div
        class="product-item-preview product-preview__four-right"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2,5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <!-- ряд 2 -->
    <div class="products-showcase__item">
      <div
        class="product-item-preview product-preview__four-right"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2,5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="products-showcase__item">
      <div
        class="product-item-preview product-preview__four-right"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2,5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="products-showcase__item">
      <div
        class="product-item-preview product-preview__four-right"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2,5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="products-showcase__item">
      <div
        class="product-item-preview product-preview__four-right"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2,5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <!-- ряд 3 -->
    <div class="products-showcase__item">
      <div
        class="product-item-preview product-preview__four-right"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2,5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="products-showcase__item">
      <div
        class="product-item-preview product-preview__four-right"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2,5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="products-showcase__item">
      <div
        class="product-item-preview product-preview__four-right"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2,5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="products-showcase__item">
      <div
        class="product-item-preview product-preview__four-right"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2,5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <!-- ряд 4 -->
    <div class="products-showcase__item">
      <div
        class="product-item-preview product-preview__four-right"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2,5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="products-showcase__item">
      <div
        class="product-item-preview product-preview__four-right"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2,5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="products-showcase__item">
      <div
        class="product-item-preview product-preview__four-right"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2,5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <div class="products-showcase__item">
      <div
        class="product-item-preview product-preview__four-right"
        style="
          background-image: url('./images/products/product-categories/product-position-cup.png');
        "
      >
        <div class="product-item-preview__discount">скидка 10%</div>
        <div class="product-item-preview__new-price">
          <span class="product-item-preview__new-price-old-price">
            2,5 ₽ / шт.
          </span>
          <span class="product-item-preview__new-price-current-price">
            2 ₽ / шт.
          </span>
        </div>
      </div>

      <div class="product-item-title">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>
  </div>

  <div style="margin-top: 100px">
    <e-html
      data-src="./components/products/product-page-description/product-page-description.html"
    ></e-html>
  </div>

  <!--  -->
</div>
