<div class="about">
  <div class="about-box">
    <div class="about-main__page">
      <a class="about-link" href="#">главная</a>
    </div>

    <div class="about-header">о компании</div>

    <div class="about-image"></div>

    <div class="about-text">
      <div class="about-text__p-first">
        Компания ПланетаЭкоБум – крупнейший поставщик и производитель
        одноразовой бмужаной посуды и упаковки.
      </div>
      <div class="about-text__p-second">
        Мы активно развиваемся и постоянно пополняем ассортимент продукции
        новыми позициями. В настоящее время в каталоге можно найти широкий
        ассортимент одноразовой бумажной посуды и упаковки.
      </div>
      <div class="about-text__p-third">
        Вся продукция имеет необходимые сертификаты и официальные документы,
        поэтому вы можете быть уверены в надлежащем качестве всех приобретаемых
        товаров.
      </div>
      <div class="about-text__p-fourth">
        Выбрать интересующие вас товары вы можете в каталоге интернет-магазина
        или связаться с нашими менеджерами для обсуждения сотрудничества. Мы
        работаем и осуществляем поставки во все страны СНГ.
      </div>
    </div>

    <div style="margin-top: 90px">
      <e-html
        data-src="./components/about/present-company-advantages/present-company-advantages.html"
      ></e-html>
    </div>

    <div class="about-leadership">
      <h2 class="about-leadership__header">Руководство компании</h2>

      <div class="about-leadership__workers">
        <div class="about-leadership__card1">
          <img
            class="about-leadership__image1"
            src="./../images/about/director.png"
            alt="#"
          />

          <div class="about-leadership__worker-name1">
            Нотченко Вера Михайловна
          </div>

          <div class="about-leadership__worker-position1">Директор</div>
        </div>

        <div class="about-leadership__card2">
          <img
            class="about-leadership__image2"
            src="./../images/about/com_director.png"
            alt="#"
          />

          <div class="about-leadership__worker-name2">
            Воскобойникова Константин Константинович
          </div>

          <div class="about-leadership__worker-position2">
            Коммерческий директор
          </div>
        </div>
      </div>
    </div>

    <div class="about-requisites">
      <h2 class="about-requisites__header">Реквизиты компании</h2>

      <div class="about-requisites__full-name">
        <div class="about-requisites__title">Полное наименование:</div>
        <div class="about-requisites__value">
          Общество с ограниченной ответственностью «Планета дверей»
        </div>
      </div>

      <div class="about-requisites__short-name">
        <div class="about-requisites__title">Сокращенное наименование:</div>
        <div class="about-requisites__value">
          <span>ООО</span>«Планета дверей»
        </div>
      </div>

      <div class="about-requisites__INN-name">
        <div class="about-requisites__title">ИНН</div>
        <div class="about-requisites__value">7743217126</div>
      </div>

      <div class="about-requisites__KPP-name">
        <div class="about-requisites__title">КПП</div>
        <div class="about-requisites__value">774301001</div>
      </div>

      <div class="about-requisites__OGRN-name">
        <div class="about-requisites__title">ОГРН</div>
        <div class="about-requisites__value">1177746656317</div>
      </div>

      <div class="about-requisites__legal-address-name">
        <div class="about-requisites__title">Юридический адрес:</div>
        <div class="about-requisites__value">
          125499 , г. Москва, Кронштадтский бульвар, д.39, корпус 1, помещение
          1,ком.43 РМ6-3
        </div>
      </div>

      <div class="about-requisites__actual-address-name">
        <div class="about-requisites__title">Фактический адрес:</div>
        <div class="about-requisites__value">
          МО, Серпуховский р-н, деревня Глазово, Строение 34-45
        </div>
      </div>

      <div class="about-requisites__general-director-name">
        <div class="about-requisites__title">
          Генеральный директор на основании&nbspУстава:
        </div>
        <div class="about-requisites__value">Нотченко Вера Михайловна</div>
      </div>

      <div class="about-requisites__bank-name">
        <div class="about-requisites__title">Наименование банка:</div>
        <div class="about-requisites__value">Филиал №7701 Банка ВТБ (ПАО)</div>
      </div>

      <div class="about-requisites__BIK-name">
        <div class="about-requisites__title">БИК</div>
        <div class="about-requisites__value">044030653</div>
      </div>

      <div class="about-requisites__count-score-name">
        <div class="about-requisites__title">Расчетный счет:</div>
        <div class="about-requisites__value">40702810109030000023</div>
      </div>

      <div class="about-requisites__cor-score-name">
        <div class="about-requisites__title">Кор. Счет:</div>
        <div class="about-requisites__value">30101810345250000745</div>
      </div>

      <div class="about-requisites__mail-name">
        <div class="about-requisites__title">Электронная почта</div>
        <div class="about-requisites__value">info@snowvalley.ru</div>
      </div>

      <div class="about-requisites__telephone-name">
        <div class="about-requisites__title">Телефон</div>
        <div class="about-requisites__value">+7 (495) 380-11-65</div>
      </div>
    </div>
  </div>
</div>
