<div class="order-issue">
  <div class="order-issue__box">
    <div class="order-issue__header">
      <div class="order-issue__header-value">Оформить&nbspзаказ</div>
      <button class="order-issue__header-button"></button>
    </div>

    <div class="order-issue__selected-product">
      <div class="order-issue__selected">выбранный товар:</div>
      <div class="order-issue__selected-value">
        Стакан одноразовый бум 1-сл. d-80мм 200мл Крафт
      </div>
    </div>

    <form class="order-issue__form" action="#">
      <div class="order-issue__form-box1">
        <div class="order-issue__form-name">
          <input
            class="order-issue__input-name"
            type="text"
            id="name"
            placeholder=" "
          />
          <label class="order-issue__name-label" for="name">Ваше имя</label>
        </div>

        <div class="order-issue__form-tel">
          <input
            class="order-issue__input-tel"
            type="text"
            id="tel"
            placeholder=" "
          />
          <label class="order-issue__tel-label" for="tel">Номер телефона</label>
        </div>
      </div>

      <div class="order-issue__form-box2">
        <div class="order-issue__form-mail">
          <input
            class="order-issue__input-mail"
            type="text"
            id="mail"
            placeholder=" "
          />
          <label class="order-issue__mail-label" for="mail"
            >Электронная почта</label
          >
        </div>

        <div class="order-issue__form-textarea">
          <input
            class="order-issue__textarea"
            id="textarea"
            placeholder=" "
          ></input>
          <label class="order-issue__textarea-label" for="textarea"
            >Комментарий к заказу</label
          >
        </div>

        <button class="order-issue__button">Заказать</button>
        <div class="order-issue__down-text">
          Отправляя форму, вы даете согласие на обработку ваших
          <a class="order-issue__down-text-link" href="#"
            >персональных данных</a
          >
        </div>
      </div>
    </form>
  </div>
</div>
